{% extends "AppBundle::layout.html.twig" %}

    {% block sidebar %}
    {% endblock %}
    {% block logout %}
    {% endblock %}
    {% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
    <meta charset="UTF-8" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bundles/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" initial-scale=1, maximum-scale=1, user-scalable=no>
    <body class="loginBody">
      <div class="container-fluid">
        <div class="row">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="col-xs-4 loginInput">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label class="loginFields">Email:</label><br>
                    <input class="enterLogin" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label class="loginFields">Password:</label><br>
                    <input class="enterLogin" type="password" id="password" name="_password" required="required" />

                    <button class="btn btn-default loginButton" type="submit" id="_submit" name="_submit"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                </form>
                <div class="row">
                  <div class="col-xs-4 register">

                  <p>
                    Sei nuovo?<a class="loginRegisterButton"> Registrati</a>

                  </p>
                 </div>
                </div>
              </div>
            </body>
                {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock fos_user_content %}
    {% endblock %}
